
.menu-btn {
    width: 30px;
    height: 30px;
    min-width: auto;
    box-shadow: none !important;

    .menu-toggle {
        position: relative;
        display: block;
        width: 30px;
        height: 1px;
        margin: 0 auto;
        border: none;
        cursor: pointer;
        background: #5c5d60;
        color: inherit;
        font-size: 0;
        transition: 0.35s;
    
        &:before,
        &:after {
            position: absolute;
            top: 0;
            left: 50%;
            display: block;
            width: 100%;
            height: 1.5px;
            background: #5c5d60;
            content: "";
            transition: transform 0.35s;
    
        }
    
        &::after {
            transform: translate(-50%, -8px);
        }
    
        
        &::before {
            transform: translate(-50%, 8px);
        }
    
      

        
    
    }

    &.right-arrow {
        .menu-toggle {
            &::before,
            &::after {
                transform-origin: 100% 0%;
            }    
        }   

        &:hover {
            .menu-toggle {

                &::before {
                    transform: translate(-50%, 0) rotate(35deg) scaleX(0.6);
                }
                
                &::after {
                    transform: translate(-50%, 0) rotate(-35deg) scaleX(0.6);
                }
            }

        }

    }

    &.left-arrow {

        .menu-toggle {

            &::before,
            &::after {
                transform-origin: 0% 0%;
            }    
        }

        &:hover {

            
            .menu-toggle {
                &::before {
                    transform: translate(-50%, 0) rotate(-35deg) scaleX(0.6);
                }
                
                &::after {
                    transform: translate(-50%, 0) rotate(35deg) scaleX(0.6);
                }
            }
          
        }
    }
}



.mat-mini-fab {
    background-color: #3b3e43 !important;
}

.nav-item {
    .nav-link {
        // Positioning Block 
        position: relative;

            // Typography Block 
            color: #fff;
            font-size: .85rem;

        &::after {
            // Structure Block 
            content: '';
            width: 100%;
            height: 1.5px;
            background: transparent;
            display: block;

            // Positioning Block 
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
        }

        &-title {
            // Modifire Block 
            transition: all .3s ease-in-out;
        }

        &__count {
            // Typography Block 
            font-size: .5rem;

            // Positioning Block 
            position: relative;
            top: 0;

            // Modifire Block 
            transition: all .3s ease-in-out;

        }

        
        &__arrow {
            // Typography Block 
            font-size: .5rem;
        }

        &:hover,
        &.active {

            .nav-link__arrow,
            .nav-link__count,
            .nav-link-title {
                // Typography Block 
                color: var(--primary-color);
            }

            &::after {
                // Structure Block 
                background-color: var(--primary-color);
            }

           
         
        }

        &:hover {


            .nav-link__count {
                
                // Positioning Block 
                position: relative;
                top: 1px;

                // Modifire Block 
                transition: all .3s ease-in-out;
            }

            .nav-link-title {
                // Typography Block 
                font-size: .8.4rem;

                // Modifire Block 
                transition: all .3s ease-in-out;
            }

            .auk-dropdown-menu {

                // Modifire Block 
                transform: none;
                opacity: 1;
                transition: all .3s ease-in-out;
                visibility: visible;
            }
        }


        .auk-dropdown-menu {

            // Positioning Block 
            position: absolute;
            top: calc(100% + 5px) ;
            left: 0;


            // Structure Block 
            min-width: 200px;
            padding: 0.5rem 0;

            // Modifire Block 
            transform: translateX(-10px);
            opacity: 0;
            transition: all .3s ease-in-out;
            visibility: hidden;

            ::ng-deep {
                .mat-button-wrapper {

                    // Typography Block 
                    font-size: .8rem;

                    i {
                        // Typography Block 
                        font-size: .6rem; 
                    }

                    // Structure Block 
                    width: 100%;
                    justify-content: space-between;
                    display: flex;
                    align-items: center;
                }
            }

            &__item {

                // Modifire Block 
                transition: all .3s ease-in-out;

                // Typography Block 
                color: #a5a4a5;

                &:hover {

                    // Structure Block 
                    padding-inline-start: 1.8rem !important;

                    // Modifire Block 
                    transition: all .3s ease-in-out;

                    i {
                        color: #fff !important;
                    }
                }
            }
        }
        
       
    }
}