<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top py-2 py-lg-0">
    <div class="container py-1">

    
    
      <button class="menu-btn p-0 btn" (click)="toggleDrawer.emit()" type="button"
        [ngClass]="{
          'right-arrow': !draweState,
          'left-arrow': draweState
        }"
      >
        <span class="menu-toggle"></span>
      </button> 

      
      <div class="user-menu ms-auto order-lg-3 me-2 me-lg-0">
        <button mat-mini-fab disabled class="cursor-pointer w-35px h-35px d-flex align-items-center justify-content-center">
          <i class="fas fa-user text-white"></i>
        </button>
      </div>
    
      <button class="navbar-toggler menu-btn order-lg-2 border-0 shadow-none w-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"  (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
        <span class="menu-toggle"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <ul class="navbar-nav mx-auto pt-3 pt-lg-0"  [class.show]="isCollapsed">
          <ng-container *ngFor="let item of menue; let index = index">
            <li class="nav-item lh-normal mx-2 px-1 mb-3 mb-lg-0">
              <header-dropdown [data]="item" [index]="index"></header-dropdown>
            </li>
          </ng-container>
        </ul>
      </div>

    </div>
</nav>