.example-container {
    // Structure Block 
    height: 100vh;
    background-color: #010001;

    // Typography Block 
    color: #fff;
}
  
.example-sidenav-content {
    // Structure Block 
    height: auto;
}
  
.example-sidenav {
    // Structure Block 
    // padding: 20px;
    border-right: 1px solid #27282b;

}
  

:host {
    ::ng-deep {


        .mat-drawer-content {
            // Structure Block 
            margin-left: 73px;
        }

        .mat-drawer-side {

            // Positioning Block 
            // left: 73px;


            // Modifire Block
            visibility: visible !important;
            transform: translate3d(calc(-100% + 73px), 0, 0);

            // Structure Block 
            display: block !important;
            min-width: 250px;

            &.mat-drawer-opened {
                // Positioning Block 
                left: 0;

            }
            
        }
    }
}

iframe {
    height: 100vh;
    overflow: hidden;
}