<mat-drawer-container class="example-container" autosize  >
    
    <mat-drawer #drawer class="example-sidenav bg-dark" mode="side" (closedStart)="closedStart()" (openedStart)="openedStart()" (openedChange)="openedChange($event)">
        <sidebar [draweState]="draweState" [openedStart]="isOpening"></sidebar>
    </mat-drawer>
  
    <div class="example-sidenav-content">


        <!-- begin:: header  -->
        <app-header [draweState]="draweState" (toggleDrawer)="drawer.toggle(); "></app-header>
        <!-- end:: header  -->


        <!-- begin:: body  -->
        <router-outlet></router-outlet>
        <!-- end:: body  -->


    </div>
  
</mat-drawer-container>