.example-container {
    // Structure Block 
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
  
.example-sidenav-content {
    // Structure Block 
    height: auto;
}
  
.example-sidenav {
    // Structure Block 
    padding: 20px;
}
  

:host {
    ::ng-deep {


        .mat-drawer-content {
            // Structure Block 
            margin-left: 73px;
        }

        .mat-drawer-side {

            // Positioning Block 
            left: 73px;

            // Modifire Block
            visibility: visible !important;

            // Structure Block 
            display: block !important;

            &.mat-drawer-opened {
                // Positioning Block 
                left: 0;
            }
            
        }
    }
}