<mat-drawer-container class="example-container" autosize  >
    
    <mat-drawer #drawer class="example-sidenav bg-dark" mode="side" (openedChange)="openedChange($event)">
        <sidebar [draweState]="draweState"></sidebar>
    </mat-drawer>
  
    <div class="example-sidenav-content">

        <!-- begin:: header  -->
        <app-header (toggleDrawer)="drawer.toggle()"></app-header>
        <!-- end:: header  -->

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, quam, ratione officiis tempore placeat dolore necessitatibus aliquid error quaerat delectus quis, repellendus harum magnam natus? Accusamus veniam magni ad necessitatibus?</p>
    
    </div>
  
</mat-drawer-container>