<aside class="text-white">

    <ng-container *ngIf="draweState">

        
        <div class="animate__animated animate__fadeIn">


            <div class="current-page d-flex align-items-center pt-4">
                <div class="me-4 icon">
                    <i class="fas fa-home"></i>
                </div>
                <span class="txt fw-bold">Home</span>
            </div>

            <div class="px-4"><hr></div>


            <!-- begin:: nav 1  -->
            <nav class="nav-1">
                <ul class="list-unstyled">
                    <li *ngFor="let item of nav1">
                        <a  mat-button class="nav-1__item nav__item d-flex align-items-center" routerLink="">
                            <span class="nav-icon nav-1-icon me-4">
                                <!-- <img width="17" [src]="item.icon" alt="Arrow"> -->
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            <small class="nav-txt text-white">{{item.title}}</small>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- end:: nav 1  -->


            <div class="px-4"><hr></div>

            <!-- begin:: nav 1  -->
            <nav class="nav-2">
                <ul class="list-unstyled">
                    <li class="mb-1" *ngFor="let item of nav2">
                        <a  mat-button class="nav-2__item nav__item d-flex align-items-center" routerLink="">
                            <span class="nav-icon me-3">
                                <i [class]="'fas text-white' +item.icon"></i>
                            </span>
                            <small class="nav-txt text-white">{{item.title}}</small>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- end:: nav 1  -->
       </div>



    </ng-container>
    

    <ng-container *ngIf="!draweState">
        <nav [hidden]="openedStart" class="short-nav">
            <ul class="list-unstyled text-end animate__animated animate__fadeIn">
                <li class="mb-3">
                    <a routerLink="" mat-mini-fab color="primary">
                        <i class="fas fa-home"></i>
                    </a>
                </li>

                <li class="mb-3">
                    <a routerLink="" mat-mini-fab color="base">
                        <i class="fas fa-bell"></i>
                    </a>
                </li>

                <li class="mb-3">
                    <a routerLink="" mat-mini-fab color="base">
                        <i class="fas fa-heart"></i>
                    </a>
                </li>

                <li class="mb-3">
                    <a routerLink="" mat-mini-fab color="base">
                        <i class="fas fa-video"></i>
                    </a>
                </li>

                <li class="mb-3">
                    <a routerLink="" mat-mini-fab color="base">
                        <i class="fas fa-music"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </ng-container>


</aside>