.current-page {

    // Structure Block 
    padding: .2rem 1.7rem;



    .icon {
        // Structure Block 
        width: 30px;
        height: 30px;
        background: var(--primary-color);
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .txt {
        // Typography Block 
        color: var(--primary-color);
    }
}

.nav__item {

    &:hover {

        i,small {
            // Typography Block 
            color: var(--primary-color) !important;

            // Modifire Block 
            transition: all .3s ease-in-out;
        }
    
    }
}


.nav-1 {


    &__item {
        // Structure Block 
        padding: .2rem 2rem;
        &:hover {
            // Structure Block 
            background: #222326;

            .nav-1-icon {

                // Structure Block 
                border-color: var(--primary-color);

                // Typography Block 
                color: var(--primary-color);

                
                // Modifire Block 
                transition: all .3s ease-in-out;
            }
        }
    }

    &-icon {

        // Structure Block 
        width: 20px;
        height: 20px;
        display: inline-flex;
        border: 2px solid #fff;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        // Typography Block 
        font-size: .55rem;

    
        // Modifire Block 
        transition: all .3s ease-in-out;
    }
}

.nav-2  {

    &__item {

        // Structure Block 
        padding: .2rem 1.7rem;


        &:hover {
            // Structure Block 
            background: #222326;
        }

        &:hover {
            .nav-icon {
                // Typography Block 
                color: #fff;
            }
        }
    }

    .nav-icon {
        
        // Structure Block 
        width: 30px;
        height: 30px;
        background: #3b3e43;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

}




.short-nav {
    // Structure Block 
    padding: calc(73px / 4);

    a {

        i {
            // Modifire Block 
            transition: all .3s ease-in-out;
        }

        &:hover {
            
            i {
                // Tpography Block 
                color: var(--primary-color);

                // Modifire Block 
                transition: all .3s ease-in-out;
            }
        }
    }
}

hr {
    // Structure Block 
    background-color: #3b3d42; 
}