
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #fde3e0,
    100 : #fabab3,
    200 : #f78c80,
    300 : #f35e4d,
    400 : #f13c26,
    500 : #ee1900,
    600 : #ec1600,
    700 : #e91200,
    800 : #e70e00,
    900 : #e20800,
    A100 : #ffffff,
    A200 : #ffd7d6,
    A400 : #ffa4a3,
    A700 : #ff8b8a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* For use in src/lib/core/theming/_palette.scss */
$md-accent-mcgpalette0: (
    50 : #e8e8e9,
    100 : #c5c6c8,
    200 : #9fa0a4,
    300 : #78797f,
    400 : #5b5d63,
    500 : #3e4048,
    600 : #383a41,
    700 : #303238,
    800 : #282a30,
    900 : #1b1c21,
    A100 : #6f8afa,
    A200 : #3e62f8,
    A400 : #0436ff,
    A700 : #002fea,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);




// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$window-task-primary: mat.define-palette($md-mcgpalette0);
$window-task-accent: mat.define-palette($md-accent-mcgpalette0);

// The warn palette is optional (defaults to red).
$window-task-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$window-task-theme: mat.define-light-theme((
  color: (
    primary: $window-task-primary,
    accent: $window-task-accent,
    warn: $window-task-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($window-task-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #ee1900;
  --secondary: #3e4048;
 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~swiper/css";
@import "~swiper/css/free-mode";
@import "~swiper/css/navigation";
@import "~swiper/css/thumbs";

// Background Utilties 
.bg-dark {
  background-color:#191a1d !important;
}


// Buttons Utilties
.mat-mini-fab {
  &.mat-base {
    background-color: transparent;
    color: #fff;
  }
}

.mat-raised-button {
  &.mat-accent {
    &:hover {
      background-color: var(--primary-color) !important;
      color: #fff;
    }
  }
}


// Classes Utilties
.lh-normal {
  line-height: normal !important;
}

.w-35px {
  width: 35px !important;
}

.h-35px {
  height: 35px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 9;
}
