:host {
    // Structure Block 
    display: block;
    height: calc(100vh - 65px);

    // Medium devices (tablets, less than 992px)
    @media (max-width: 991.98px) { 

        // Structure Block 
        height: calc(100vh - 59px);
    }

    ::ng-deep {
        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper__controls {
            // Positioning Block 
            position: absolute;
            top: 0;
            bottom: 0;
            right: 21%;

            // Structure Block 
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: auto;

            // Modifire Block 
            z-index: 9;

                // Large devices (desktops, less than 1200px)
                @media (max-width: 1199.98px) { 

                    // Positioning Block 
                    top: auto;
                    left: 0;
                    right: 0;
                    bottom: calc(9px + 58px);

                    // Structure Block 
                    flex-direction: row;
                    justify-content: flex-start;


                    &::after {
                        position: relative;
                        inset: 0;
                        
                        content: '';
                        width: calc(100% - 100px);
                        height: 2px;
                        display: block;
                        background-color: var(--primary-color);
                        margin-left: auto;

                    }
                
                }


            .btn {
                // Structure Block 
                background-color: rgb(5, 5, 5, .6);
                width: 35px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(255, 255, 255, .5);

                // Typography Block 
                font-size: .7rem;

                // Modifire Block 
                transition: all .3s ease-in-out;

                i {

                    // Large devices (desktops, less than 1200px)
                    @media (max-width: 1199.98px) { 
                        transform: rotate(260deg);
                    }
                }


                &:hover {

                    // Structure Block 
                    background-color: rgb(5, 5, 5);

                    // Modifire Block 
                    transition: all .3s ease-in-out;

                }
            }
        }

        .swiper {
            width: 100%;
            height: 100%;
        }
  
        .swiper-slide {
            text-align: center;
            font-size: 18px;
        
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
  
 
  
        .swiper {
            width: 100%;
            // height: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .swiper-slide {
            background-size: cover;
            background-position: center;
        }
        
        .mySwiper2 {
            height: 100%;
            width: 100%;

            .swiper-slide {
                // Positioning Block 
                position: relative;
                &::after {

                    // Structure Block 
                    content: "";
                    background-color: rgba(0, 0, 0, .4);

                    // Positioning Block 
                    position: absolute;
                    inset: 0;


                }

                .slide__content {
                    // Positioning Block 
                    position: absolute;
                    inset: 0;

                    // Structure Block 
                    display: flex;
                    align-items: center;

                    // Modifire Block 
                    z-index: 2;                   


                    &__title {

                         // X-Large devices (large desktops, 1200px and up)
                         @media (min-width: 1200px) { 
                            // Structure Block 
                            width: 77%;
                        }

                        h2 {
                            // Typography Block 
                            font-size:3.84rem;

                            // Small devices (landscape phones, less than 768px)
                            @media (max-width: 767.98px) { 
                                // Typography Block 
                                font-size: 2.2rem;
                            }
                        }
                      
                    }

                    .slide__stats {
                        // Modifire Block 
                        animation-delay: .5s;
                    }
                }

                &-active {

                    .slide__content {
                        .slide__stats,
                        .slide__actions,
                        &__title {
                            // Modifire Block 
                            -webkit-animation-name: fadeInDown;
                            animation-name: fadeInDown;
                        }
                      
                    }
                   
                }
            }
        }
        
        .mySwiper {
            box-sizing: border-box;
            position: absolute;
            top: 0;
            right: 0;
            width: 20%;
            background-color: rgba(0, 0, 0, .4);
            border-left: 1px solid rgba(255, 255, 255, .4);

                // X-Large devices (large desktops, 1200px and up)
                @media (min-width: 1200px) { 

                    // Structure Block 
                    padding: 2rem;
                }

                // Large devices (desktops, less than 1200px)
                @media (max-width: 1199.98px) { 
                    // Structure Block 
                    width: 100%;
                    height: 131px;
                    border-left: 0;
                    padding-right: var(--bs-gutter-x,.75rem);
                    padding-left: var(--bs-gutter-x,.75rem);
                    background: none;


                    // Positioning Block 
                    top: auto;
                    bottom: calc(62px + 58px);
                    left: 0;
                }


                // X-Small devices (portrait phones, less than 576px)
                @media (max-width: 575.98px) { 
                    // Structure Block 
                    height: 90px;
                }

        }
        
        .mySwiper .swiper-slide {
            // Structure Block 
            overflow: hidden;

            // Positioning Block 
            position: relative;

            cursor: pointer;

            &::after {

                // Structure Block 
                content: '';
                width: 100%;
                height: 100%;
                border-radius: 6px;


                // Positioning Block 
                position: absolute;
                inset: 0;


                
            }

            img {
                // Structure Block 
                padding: .2rem;
                border-radius: 6px;

                // Modifire Block 
                overflow: hidden;
            }

            .slide-data {

                // Structure Block 
                display: flex;
                align-items: flex-end;
                padding: 0.9rem;

                // Positioning Block 
                position: absolute;
                inset: 0;

                // Modifire Block 
                z-index: 1;

                .tag {

                    // Structure Block
                    padding: 0.1rem 0.5rem;
                    background: rgba(0, 0, 0, .5);
                    border-radius: 5px;
                    font-size: 0.8rem;

                    
                }

                circle-progress {

                    // Structure Block
                    width: 30px;
                    height: 30px;
                }
            }

        }
        
        .mySwiper .swiper-slide-thumb-active {

            &::after {

                // Structure Block 
                background: rgb(119,15,0);
                background: linear-gradient(90deg, rgba(119,15,0,1) 0%, rgba(151,97,60,1) 35%, rgba(98,165,103,1) 100%);
                
            }


            // Modifire Block 
            opacity: 1;

        }
        
        .swiper-slide img {
            // Structure Block 
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

            position: relative;
            z-index: 1;

        }
    }
}

.slide__stats {
    &__item {

        // Typography Block 
        font-size: .85rem;

        &__icon {

            // Structure Block 
            background-color: var(--secondary);
            width: 25px;
            height: 25px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            // Typography Block 
            font-size: .75rem;


            &--heart {
                // Structure Block 
                background-color: #fb5a6c;
            }
            &--sync {
                // Structure Block 
                background-color: #bb6ef0;
            }
            &--smile {
                // Structure Block 
                background-color: #fd9e08;
            }
            &--down {
                // Structure Block 
                background-color: #047efe;
            }

        }

        &--reactions {
            .slide__stats__item__icon {
                &:not(:first-of-type) {
                    // Structure Block 
                    margin-left: -10px;
                }
            }          
        }
    }
}
  

video {
    // Structure Block 
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

